html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #2C2C2C;
  overflow-y: scroll;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  display: inline;
}

* {
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 12px;
  background-color: #2C2C2C;
}
 
body::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
  border: 3px solid #2C2C2C;
  border-radius: 6px;
}

textarea {
  font-family: inherit;
}

svg {
  fill: currentColor;
}

div {
  color: #D9D9D9;
}